<a id="menu-toggle"><span id="menu-icon"></span></a>

<header>

  <div class="container">

    <a id="logo" href="/h3/"><h1>h<span>3</span></h1></a>

    <nav>
      <div class="trigger">
        <a class="page-link {% if page.title == my_page.title %}current{% endif %}" href="/h3/">Home</a>
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.title != 'Hat-Trick' %}
          <a class="page-link {% if page.title == my_page.title %}current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

  <div class="clear"></div>

</header>
