<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>leandro alonso - mobile developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/ico" />
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/io.css" | prepend: site.baseurl }}">

  <meta property="og:title" content="Leandro Alonso" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Senior iOS Developer - Simplicity. Form. Function." />
  <meta property="og:url" content="http://leandroalonso.com/" />
  <meta property="og:image" content="http://leandroalonso.com/assets/img_facebook.png" />
</head>
<body>

  <a id="menu-toggle"><span id="menu-icon"></span></a>

  <div class="container horizontal-center">

    <div id="logo">

      <h1>leandro <span>alonso</span></h1>

      <div id="belief">
				<span class="animated fadeInRight">simplicity</span>
				<span class="animated fadeInRight">form</span>
				<span class="animated fadeInRight">function</span>
				<span style="display:block;height:1px;margin-left:15px;">simplicity</span>
			</div>

    </div>

    <h2>I'm a passionate Mobile Developer at <a href="https://www.thoughtworks.com/">ThoughtWorks</a>.</h2>

  </div>

  {% include menu.html %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12676058-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
